asgiref==3.9.1
certifi==2025.7.14
charset-normalizer==3.4.2
Django==5.2.4
djangorestframework==3.16.0
idna==3.10
inflection==0.5.1
pillow==11.3.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
qstylizer==0.2.4
reportlab==4.4.3
requests==2.32.4
sqlparse==0.5.3
tinycss2==1.4.0
tzdata==2025.2
urllib3==2.5.0
webencodings==0.5.1
